.group-content {
  background-color: #9966ff;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 10% 65% 25%;

  position: relative;
}
.group-item1 {
  height: 100%;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 2 span;
  grid-row-start: 1;
  grid-row-end: 1;
   border-width: 6px;
   border-style: groove;

border-color: purple;
  padding: 0.2vw;
  background: linear-gradient(
    90deg,
    rgba(177, 17, 198, 1) 0%,
    rgba(106, 9, 121, 1) 62%,
    rgba(67, 9, 121, 1) 85%
  );

  .group-name {
    width: 50%;
    margin: 10px 15px;
  }
  .manage-group-button {
    float: right;
    color: white;
    width: 10vw;
    min-width: 3vw;
    height: 7vh;
    background-color: #880788;
    border-width: 3px;
    border-style: groove;
    border-radius: 8px;
    margin-left: 0.2vw;
    font-size: calc(10px + 0.2vw);
    transition: ease-in-out 0.1 s;
    &:hover {
      transition: ease-in-out 0.1s;
      background-color: #b407b4;
    }
  }
}

.group-item2 {
  height: 90%;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 3 span;
  background-color: #9966ff;
  overflow-y: scroll;
}
.group-item3 {
  height: 100%;
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2 span;
  background-color: #9966ff;
span{
color: White;
text-transform: uppercase;
display: block;
text-align: center;
}
  .text1{
   font-size: 60px;
   font-weight: 800;
   
   position: relative;
   letter-spacing: 5px;
   animation: text 3s 1;
  }
  .text2{
    font-size: 40px;
    font-weight: 500;
    margin-top: 15px;
    color: white;
    animation: text2 2s 1;
  }
  @keyframes text {
    0%{
      color: white;
    }
    30%{
      letter-spacing: 10px;
    }
    85%{
      letter-spacing: 5px;
    } 
  }
  @keyframes text2 {
    0%{
      color: #9966ff;
      margin-top: -10px;
    }
    20%{
      color: #ab81ff;
      margin-top: -5px;
    }
    40%{
      color: #b998fc;
      margin-top: 0px;
    }
    60%{
      color:#ceb5ff;
      margin-top: 5px;
    }
    80%{
      color:#e4d7fd;
      margin-top: 10px;
    }
    100%{
      color:white;
      margin-top: 15px;
    }
  }
}

.group-item4 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  .group-members {
    z-index: 2;
    margin: 10px 15px;
  }
}
