@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #4723d9;
  --first-color-light: #afa5d9;
  --white-color: #f7f6fb;
  --body-font: 'Montserrat', sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  width: calc(100% - var(--nav-width));
  position: relative;
  margin: 0 0 0 var(--nav-width);
  font-family: var(--body-font);
  // padding: 0 1rem;
  // font-family: var(--body-font);
  // font-size: var(--normal-font-size);
  // transition: 0.5s;
}

.navbar {
  position: fixed;
  // display: grid;
  // grid-template-rows: 10% 50% 30%;
  // grid-template-columns: 100%;

  // FLEX dzieki teraz wiem juz o co chodzi :)
  display: flex;
  align-items: space-between;
  flex-flow: column;

  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  background-color: rebeccapurple;

  color: white;
  z-index: var(--z-fixed);

  &__list {
    height: 100%;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
    list-style: none;

    &--top {
      height: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      align-items: center;
      justify-content: center;
      justify-items: stretch;
      list-style: none;
      font-size: 32px;
      border-bottom: 1px solid white;

      a {
        color: white;
      }
    }

    // &--mid {
    //   height: 100%;
    //   width: 100%;
    //   margin: 0;
    //   padding: 20px 0;
    //   display: grid;
    //   align-items: center;
    //   justify-content: center;
    //   justify-items: stretch;
    //   list-style: none;
    //   font-size: 24px;
    // }

    &--bot {
      height: 100%;
      margin: 0;
      padding: 20px 0;
      display: grid;
      align-items: flex-end;
      justify-content: center;
      justify-items: stretch;
      list-style: none;
      font-size: 24px;
    }
  }
  &__item {
    transition: 0.5s;
    width: 100%;
    display: flex;

    align-items: center;

    p {
      padding: 0;
    }
    i {
      margin-right: 15px;
    }
  }

  &__item:hover {
    transform: scale(1.4);
    transition: 0.5s;
  }

  &__link {
    display: flex;
    align-items: center;
    flex-grow: 1;

    i {
      margin-right: 15px;
    }
  }
}
