@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #4723d9;
  --first-color-light: #afa5d9;
  --white-color: #f7f6fb;
  --body-font: 'Montserrat', sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  width: calc(100% - var(--nav-width));
  position: relative;
  margin: 0 0 0 var(--nav-width);
  font-family: var(--body-font);
  // padding: 0 1rem;
  // font-family: var(--body-font);
  // font-size: var(--normal-font-size);
  // transition: 0.5s;
}

.navbar {
  position: fixed;

  // FLEX dzieki teraz wiem juz o co chodzi :)
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  padding: 0;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  background-color: rebeccapurple;

  color: white;
  z-index: var(--z-fixed);

  &__list {
    &--top {
      list-style: none;
      font-size: 24px;
      padding: 0;
      flex-grow: 0;
    }

    &--mid {
      list-style: none;
      font-size: 24px;
      padding: 0;
      flex-grow: 10;
      display: flex;
      flex-flow: column;
    }

    &--bot {
      list-style: none;
      font-size: 24px;
      padding: 0;
      display: flex;
      flex-grow: 1;
      flex-flow: column;
    }

    &-item {
      flex-grow: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      i {
        padding-right: 10px;
        cursor: pointer;
      }
      p {
        cursor: pointer;
      }
    }
  }

  &__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__logo {
    &-icon {
      // flex-grow: 1;
    }
  }
}
