.overview-content {
  // komunikator
  position: relative;

  background-color: #b48fff;
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 2;

  border-width: 4px;
  border-style: groove;
  border-radius: 1vw;
  border-color: #9933cc;
  width: 100vw;
  height: calc(100vh - 64px);

  .groups-properties {
    float: right;
    margin: 1vw 1vw;
    padding: 0.2vw;
    background-color: #9933cc;
    border-width: 4px;
    border-style: groove;
    border-radius: 1vw;
    border-color: #9933cc;
    width: 30%;
    height: 90%;
  }

  .group-box {
    display: inline-block;
    margin: 1vw 1vw;
    background-color: #9933cc;
    border-width: 4px;
    border-style: groove;
    border-radius: 1vw;
    border-color: #9933cc;
    width: 30%;
    height: 90%;

    .hr-style-groups-list {
      border-radius: 3vw;
      border: 0;
      height: 0.25vw;
      margin-bottom: 1vw;
      background: linear-gradient(
        90deg,
        rgba(67, 9, 121, 1) 0%,
        rgba(121, 9, 89, 1) 50%,
        rgba(67, 9, 121, 1) 100%
      );
    }
  }
  .create-group-button {
    width: 4vw;
    height: 2vw;
    float: right;

    color: white;
    background: linear-gradient(
      90deg,
      rgba(67, 9, 121, 1) 0%,
      rgba(121, 9, 89, 1) 50%,
      rgba(67, 9, 121, 1) 100%
    );

    font-size: calc(8px + 0.4vw);
    border-color: white;
    border-radius: 1vw;
    position: relative;
  }
}
