.basic-info {
  display: flex;
  column-gap: 25px;
  row-gap: 25px;
  justify-content: center;
  align-items: center;
  //   &__image-container {
  //     display: flex;
  //     flex-grow: 10;
  //     align-items: center;
  //     justify-content: center;
  //     flex-direction: column;
  //   }
  //   &__image {
  //     display: flex;
  //     flex: 1 45%;
  //     justify-content: center;
  //     align-items: center;

  //     img {
  //       border-radius: 50%;
  //     }
  //     // margin: auto;
  //     // justify-content: center;
  //     // align-items: flex-start;
  //   }
  //   &__image-form {
  //     position: relative;
  //     display: flex;
  //     margin-top: 20px;

  //     width: fit-content;
  //     align-self: center;
  //     border-radius: 15px;
  //     background-color: indigo;

  //     justify-content: center;
  //     align-items: center;

  //     color: white;
  //     button {
  //       background-color: indigo;
  //       border: 1px solid pink;
  //       padding: 5px 5px;
  //       margin-right: 5px;
  //       font-weight: bold;
  //     }
  //     &__container {
  //       width: fit-content;
  //       display: flex;
  //       justify-items: center;
  //       align-items: center;

  //       label {
  //         padding: 10px;
  //       }
  //     }
  //   }

  //   &__image-form input[type='file'] {
  //     margin: 0;
  //     padding: 0;
  //     cursor: pointer;
  //     opacity: 0;
  //     width: 0px;
  //   }

  //   // &-image-submit {
  //   //   display: flex;
  //   //   margin-top: 20px;
  //   //   width: fit-content;
  //   //   align-self: center;
  //   //   background-color: red;
  //   // }
  &__text {
    // background-color: red;
  }

  &__section-basic {
    // width: 45%;
    display: flex;
    flex-grow: 7;
    flex-flow: column;
    // justify-content: center;
    // align-items: center;
  }

  &__section-details {
    flex: 1 100%;

    justify-content: flex-start;

    &__collapse {
      width: fit-content;
      p {
        width: fit-content;
      }
    }
  }

  button {
    width: fit-content;
  }
}
