.basic-info {
  display: flex;
  row-gap: 25px;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid indigo;
  border-radius: 5px;
  &__text {
  }

  &__section-basic {
    display: flex;
    flex-flow: column;
  }

  &__section-details {
    &__collapse {
    }
  }

  button {
    width: fit-content;
  }
}
