.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.image {
  img {
    border-radius: 50%;
  }
}
.image-form {
  position: relative;
  display: flex;
  margin-top: 20px;

  align-self: center;
  border-radius: 15px;
  background-color: indigo;

  justify-content: center;
  align-items: center;

  color: white;
  button {
    background-color: indigo;
    border: 1px solid pink;
    padding: 5px 5px;
    margin-right: 5px;
    font-weight: bold;
  }
  &__container {
    width: fit-content;
    display: flex;
    justify-items: center;
    align-items: center;

    label {
      padding: 10px;
    }
  }
  &__submit {
    display: flex;
    margin-top: 20px;
    width: fit-content;
    align-self: center;
  }
}

.image-form input[type='file'] {
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  width: 0px;
}
